/* html, body general html */
html {
font-family: 'Ubuntu', sans-serif;
font-weight: normal;
}


a:hover {
	text-decoration: none;
}
/* headers */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.5;
  color: inherit;
}

/* edit, add, delete button*/
.edit-add-delete-btn {
	color: #000;
	display: inline-block;
}
.red-delete {
	color: red;
}
/*font weight lighter*/
.light {
	font-weight: lighter;
	line-height: 1.5;
}
.introduction {
	font-weight: lighter;
}

/* for the resume description*/
.resumefooter {
  display: block;
  line-height: 1.42857143;
  padding-left: 15px;
  border-left: 1px solid #777;
}

/* menu */
.my-menu {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #000;
  border-radius: 4px;
  max-width: 210px;
  float: right;
}

.my-menu a, .my-menu a:hover {
	color: #fff;
	text-decoration: none
}
.my-menu > li {
  display: inline-block;
}
.my-menu > li + li:before {
  padding: 0 5px;
  color: #fff;
  content: ".\00a0";
}
.my-menu > .active {
	font-weight: bold;
}

.btn-bold{
  font-weight: bold;
}

/*Primar button*/
.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #ccc;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-black .badge {
  color: #fff;
  background-color: #333;
}



/* Top margins */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }

/* width @600 */
@media (min-width: 768px) {.container {width: 600px;} .btn {width: 100%}}
@media (max-width: 768px) {.btn {width: 100%}}
@media (min-width: 992px) {.container {width: 600px;}}
@media (min-width: 1200px) {.container {width: 600px;}}

@import "bourbon";

body {
  background: #eee !important;  
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 15px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.white {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.white {
  padding: 15px;
  background-color: #fff;
}
hr {
  border-top: 1px solid #f1f1f1;
}
